.footer {
    background-color: #252730;
}

.footer__link {
    color: #fff;
    font-weight: none;

    &:hover {
        color: #ff9a00;
    }
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__user-info__username,
.footer__user-info__desc {
    color: #fff;
}

.footer__user-info__username {
    font-size: 18px;
}