.scroll-down-btns {
  /* &:after {
    height: 30px;
    weight: 30px;
    content: url('/src/images/icons/scroll.svg');
  } */
}

.scroll-down__icon {
    height: 30px;
    fill: #464d62;

    &:hover {
        fill: #5500f2;
    }
}
