.skill__shape {
  width: 130px;
  height: 130px;
  fill: transparent;
  stroke: #292e34;
  opacity: .3;
  stroke-width: 10px;
}

.skill__circle--position--above {
  width: 130px;
  height: 130px;
  fill: transparent;
  opacity: 1;
  stroke: red;
  stroke-width: 14px;
}