.triangles {
  display: flex;
  margin-top: -100px;
  color: #fff;
  margin-bottom: 40px;
}

.triangles__item {
  width: 50%;
  display: block;
  height: 100px;
  fill: currentColor;
}

.works-triangles {
  color: #d9f9f9;
  margin-top: 0;
  margin-bottom: 0;
  /* transform: rotate(180deg); */

}